- provide(:title, "Contacts")
.contacts-header
  = render 'layouts/top_header'
  .jumbotron.text-center
    %div
      %h1.title.texty Meet the team!
      %br/
      %p.description.texty Lots and lots of friendly people awaiting to get to know you!
= render 'layouts/flash_messages'
/ insert html body here
