- provide(:title, 'Service')
.service-header
  = render 'layouts/top_header'
  .jumbotron.text-center
    %div
      %h1.title.texty Menu
      %img{ :height => '50px', :src => 'https://forums.autodesk.com/autodesk/attachments/autodesk/706/80968/2/0001.png', :style => 'filter:invert(100%);', :width => '50px' }/
      %img{ :height => '50px', :src => 'https://forums.autodesk.com/autodesk/attachments/autodesk/706/80968/2/0001.png', :style => 'filter:invert(100%);', :width => '50px' }/
      %i.fas.fa-utensils
      %img{ :height => '50px', :src => 'https://forums.autodesk.com/autodesk/attachments/autodesk/706/80968/2/0001.png', :style => 'filter:invert(100%);', :width => '50px' }/
      %img{ :height => '50px', :src => 'https://forums.autodesk.com/autodesk/attachments/autodesk/706/80968/2/0001.png', :style => 'filter:invert(100%);', :width => '50px' }/
      %br/
      %p.description.texty Our menu contains a range of all sorts of foods that might be just right for you.
= render 'layouts/flash_messages'
/ insert html body here
